.header, .auswahl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 3rem 0;
  font-size: 60px;
}

.link {
  border: 1px solid black;
  padding: 3rem;
  margin: 1rem;
  box-shadow: 10px 5px 5px black;
  background-color: burlywood;
}

.link:hover {
  background-color: beige;
}


