<div class="page-container">
  <div class="container">
    <div class="header">
      FREQUENTLY ASKED QUESTION
    </div>
    <div class="faq">
      <div class="faq-box">
        <div class="faq-box-header">Wem gehört Auto-App</div>
        <div class="faq-box-anser">Auto-App gehört Albert Frank und Brahim El Mahjoub</div>
      </div>
      <div class="faq-box">
        <div class="faq-box-header">Wofür ist auto-app</div>
        <div class="faq-box-anser">Für alle Autobesitzer die keine lust mehr auf teuere Autowerkstätten haben die sonst
          kein eintrag in
          ihr Scheckheft bekommen. Durch unsere App lässt sich bequwem an jeder belibigen Werstatt nachweisen was sie
          für ihr Auto getan haben um ein wieder Verkaufswert zu halten.
        </div>
      </div>
      <div class="faq-box">
        <div class="faq-box-header">Wir es eine Auto-App für Smartfone Geräte geben</div>
        <div class="faq-box-anser">Ja unser entwickler Team arbeitet bereits an eine Realisierung für ANdroid und iOS
          Geäte.
        </div>
      </div>
      <div class="faq-box">
        <div class="faq-box-header">Ich hab weiter fragen die hier nicht aufgelistet sind.</div>
        <div class="faq-box-anser">Dann können sie gerne unseren Kunden-Support kontaktieren. Unser Team steht ihnen
          gerne
          bereit und
          beantwortet gerne ihre Fragen.
        </div>
      </div>
    </div>
    <div class="auswahl">
      <div class="auto-button" [routerLink]="['/']">Zurück zur Startseite</div>
    </div>
  </div>
</div>
