.page-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 0 0 80%;
}

.header {
  flex: 0 0 0px;
  align-self: center;

  margin: 3rem 0;
  font-size: 60px;
}

.scheckhefte {
  flex: 0 0 0px;
  display: flex;
  flex-direction: column;
}

.scheckheft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: burlywood;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px black;
}

.scheckheft-nr {
  font-size: 32px;
  background-color: transparent;
}

.scheckheft-hersteller {
  font-size: 24px;
  background-color: transparent;
}

.scheckheft-vim {
  font-size: 16px;
  background-color: transparent;
}
.scheckheft:hover, .auto-button:hover{
  background-color: beige;
}

.auswahl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  padding-bottom: 20rem;
}

.auto-button {
  flex: 1 0 0px;
  margin: 3px 10px;
  padding: 18px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: burlywood;
  box-shadow: 10px 5px 5px black;
  max-width: 160px;
}




